<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>Welcome, {{username}}!</h1>
  <p>Here's some information about your account:</p>
  <ul>
    <li>Username: {{username}}</li>
   
  </ul>
  <p><a href="/logout">Logout</a></p>
</body>
</html>

