<!DOCTYPE html>
<html>

<head>
	<title>My Favourite Books</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
	<link href="css/style.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

	<nav class="navbar navbar-expand-md bg-dark" style="background-color: #1c3048;">
		<div class="container">
			<a class="navbar-brand" href="#"><i class="fas fa-book"></i> Favourite Books</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon" style="font-size: 0.50rem;"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/form">Add a book</a>
					</li>
				</ul>
			</div>
		</div>
		<input type="checkbox" id="switch" /><label for="switch">Toggle</label>
	</nav>



	<main>
		<section class="intro-section bg-light py-5">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="text-center mb-4">Welcome to My Favourite Books</h2>
						<p class="lead text-center mb-4">Discover your next favorite book with us. Our extensive library
							of books is sure to have something that will captivate and inspire you. Start exploring
							today!</p>
						<div class="text-center">
							<a href="#" class="btn btn-primary">Explore Books</a>
						</div>
					</div>
				</div>
			</div>
		</section>


		<section class="card-container">
			{{#if query}}
			<p>Showing results for "{{query}}"</p>
			{{/if}}
			{{#each books}}
			<div class="card">
				<h2>{{this.title}}</h2>
				<p>{{this.description}}</p>
				<p><a href="/details/{{this.id}}">Read more</a></p>
			</div>
			{{/each}}
		</section>


		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<script>
			$(document).ready(function () {
				var isDark = false; // Set isDark to false to start with the light mode

				var themeButtonEl = $('#switch');
				themeButtonEl.on('click', function () {
					if (isDark) {
						$('body').css({ 'background-color': '#FFFFFF', color: '#1a1a1a' });
						$('.card').css({ 'background-color': '#FFFFFF', color: '#000000' });
						isDark = false;
					} else {
						$('body').css({ 'background-color': '#1a1a1a', color: '#FFFFFF' });
						$('.card').css({ 'background-color': '#1a1a1a', color: '#FFFFFF' });
						isDark = true;
					}
				});
			});
		</script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


	</main>
	<footer class="footer bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
					<h5 class="text-uppercase mb-3 text-white" id="Contact">Fellow Me </h5>
					<p class="text-muted mb-4">I am a highly skilled and motivated individual with 3 years of experience
						in
						software develpment. I am currently seeking new opportunities and am available for hire. I am
						confident in
						my ability to bring value to any team and would love to discuss potential opportunities with
						your company.
					</p>
					<ul class="list-inline mb-0">
						<li class="list-inline-item mr-3">
							<a href="https://www.linkedin.com/in/faduma-ibrahim-msc-230a5387/" class="text-white">
								<i class="fab fa-linkedin fa-2x"></i>
							</a>
						</li>
						<li class="list-inline-item mr-3">
							<a href="#" class="text-white">
								<i class="fab fa-twitter fa-2x"></i>
							</a>
						</li>
						<li class="list-inline-item mr-3">
							<a href="https://github.com/fadumasaidcodes" class="text-white">
								<i class="fab fa-github fa-2x"></i>
							</a>
						</li>

						<li class="list-inline-item">
							<a href="#" class="text-white">
								<i class="fab fa-instagram fa-2x"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="col-md-6 text-center text-md-right">
					<h5 class="text-uppercase mb-3 text-white">Contact Me</h5>
					<ul class="list-unstyled mb-0">
						<li class="mb-2">
							<i class="fas fa-map-marker-alt fa-lg text-primary mr-3"></i>
							<span class="text-muted">123 Main Street, California, USA</span>
						</li>
						<li class="mb-2">
							<i class="fas fa-envelope fa-lg text-primary mr-3"></i>
							<span class="text-muted">info@california.com</span>
						</li>
						<li class="mb-2">
							<i class="fab fa-github fa-lg text-primary mr-3"></i>
							<a href="https://github.com/fadumasaidcodes" target="_blank"
								rel="noopener noreferrer">fadumasaidcodes</a>
						</li>

						<li class="mb-2">
							<i class="fas fa-phone fa-lg text-primary mr-3"></i>
							<span class="text-muted">+1 (800) CALI-FORNIA</span>
						</li>
					</ul>
				</div>
			</div>
			<div class="row mt-4">
				<div class="col text-center">
					<hr class="border-light">
					<p class="text-white">Favourite Books&copy; 2023</p>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>