<!DOCTYPE html>
<html>

<head>
	<title>My Favourite Books</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
	<link href="css/style.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<!-- Sidebar -->
			<div class="col-lg-3">
				<nav id="sidebar">
					<div class="sidebar-header">
						<h3>Portfolio</h3>
					</div>
					<ul class="list-unstyled components">
						<li class="active">
							<a href="#"><i class="fas fa-home"></i> Home</a>
						</li>
						<li>
							<a href="/form"><i class="fas fa-user"></i> Add a book</a>
						</li>
						<li>
							<a href="#contact"><i class="fas fa-envelope"></i> Contact</a>
						</li>
					</ul>
				</nav>
			</div>
			<!-- Page Content -->
			<div class="col-lg-9" id="content">
				<div class="text-center">
					<div class="image-container">
						<img src="./images/book.png" class="rounded-top" alt="Your Image">
						<div class="labels-container">
							<div class="label-top">Bookshelf</div>
							<div class="label-bottom">"A room without books is like a body without a soul." - Cicero
							</div>
						</div>
					</div>
				</div>
				<!-- Add your code here -->
				<section class="card-container">
					{{#if query}}
					<p>Showing results for "{{query}}"</p>
					{{/if}}
					{{#each books}}
					<div class="card">
						<h2>{{this.title}}</h2>
						<p>{{this.description}}</p>
						<p><a href="/details/{{this.id}}">Read more</a></p>
					</div>
					{{/each}}
				</section>
				<!-- End of your code -->
				<footer>
				<p>&copy; 2023 My Favourite Books. All rights reserved.</p>
			</footer>
			</div>
			
		</div>
	</div>
	</main>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




</body>

</html>